@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin buttonColorsBlank($name, $textColor, $hoverTextColor: false, $hoverBackground: false, $borderColor: false) {
    @if ($hoverTextColor == false) {
        $hoverTextColor: $fontColor;
    }

    @if ($hoverBackground == false) {
        $hoverBackground: #fff;
    }

    @if ($borderColor == false) {
        $borderColor: #fff;
    }

    .button-#{$name} {

        &--blank {
            background: transparent;
            border: 1px solid $borderColor;
            color: $textColor;
            border-radius: 1rem;
            box-shadow: 11px 11px 29px 0 rgba(1, 1, 1, 0.44);

            &:hover, &:focus {
                background: $hoverBackground;
                background: linear-gradient(to bottom, $hoverBackground 15%, darken($hoverBackground, 2%) 82%);
                color: $hoverTextColor;
            }
        }
    }
}

@mixin buttonColorsFill($name, $bgColor, $textColor, $hoverTextColor: false, $hoverBackground: false, $borderColor: false) {
    @if ($hoverTextColor == false) {
        $hoverTextColor: $textColor;
    }

    @if ($hoverBackground == false) {
        $hoverBackground: transparent;
    }

    @if ($borderColor == false) {
        $borderColor: $bgColor;
    }
    

    .button-#{$name} {

        &--fill {
            border: 1px solid $borderColor;
            background: $bgColor;
            background: linear-gradient(to bottom, $bgColor 15%, darken($bgColor, 2%) 82%);
            color: $textColor;
            border-radius: 1rem;
            box-shadow: 11px 11px 29px 0 rgba(1, 1, 1, 0.44);

            &:hover, &:focus {
                border: 1px solid $borderColor;
                color: $hoverTextColor;
                background: $hoverBackground;
                background: linear-gradient(to top, $hoverBackground 15%, darken($hoverBackground, 2%) 82%);
            }
        }
    }
}
