$font-sizes: () !default;
$font-sizes: map-merge(
    (
        '9': 9px,
        '10': 10px,
        '11': 11px,
        '12': 12px,
        '13': 13px,
        '14': 14px,
        '15': 15px,
        '16': 16px,
        '18': 18px,
        '20': 20px,
        '22': 22px,
        '24': 24px,
        '25': 25px,
        '26': 26px,
        '28': 28px,
        '30': 30px,
        '32': 32px,
        '34': 34px,
        '36': 36px,
        '38': 38px,
        '40': 40px,
        '42': 42px,
        '44': 44px,
        '50': 50px,
        '54': 54px,
        '55': 55px,
        '60': 60px,
        '64': 64px,
        '70': 70px,
        '73': 73px,
        '80': 80px,
        '82': 82px,
        '90': 90px,
        '98': 98px,
        '100': 100px,
        '109': 109px,
        '119': 119px,
        '130': 130px,
        '140': 140px,
        '149': 149px,
        '150': 150px,
        '180': 180px,
    ),
    $font-sizes
);

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $key, $value in $font-sizes {
            .font-size#{$infix}-#{$key} {
                font-size: $value !important;
            }
        }
    }
}
