$min-height-widths: () !default;
$min-height-widths: map-merge(
    (
        
        'auto': auto,
        '40vh': 40vh,
        '50vh': 50vh,
        '60vh': 60vh,
        '65vh': 65vh,
        '75vh': 75vh,
        '100vh': 100vh,
        '400': 400px,
        '500': 500px,
    ),
    $min-height-widths
);

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $key, $value in $min-height-widths {
            .min-width#{$infix}-#{$key} {
                min-width: $value !important;
            }

            .min-height#{$infix}-#{$key} {
                min-height: $value !important;
            }
        }
    }
}
