$object-fits: () !default;
$object-fits: map-merge(
    (
        none: none,
        cover: cover,
    ),
    $object-fits
);

@each $key, $value in $object-fits {
    .object-fit-#{$key} {
        object-fit: $value !important;
    }
}
