// Font Families
.font-family-main {
    font-family: $fontFamilyMain;
}

// Thin
.font-weight-100 {
    font-weight: 100 !important;
}

// Extra Light
.font-weight-200 {
    font-weight: 200 !important;
}

// Light
.font-weight-300 {
    font-weight: 300 !important;
}

// Regular
.font-weight-400 {
    font-weight: 400 !important;
}

// Bold
.font-weight-700 {
    font-weight: 700 !important;
}

// Black
.font-weight-800 {
    font-weight: 800 !important;
}

// Heavy
.font-weight-900 {
    font-weight: 900 !important;
}

// Strong tag override
strong {
    @extend .font-weight-700;
}
