:root {
    --vh: 1vh;
}

html {
    overflow-x: hidden;
}

body {
    overflow: initial;
    display: block !important;
    font-family: $fontFamilyMain;
}

::selection {
    background: $colorMain;
    color: #fff;
}

button {

    &:focus {
        outline: 0;
    }
}

.background-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-attachment-fixed {
    background-attachment: fixed;
}

label {
    font-weight: 600;
    color: #000;
}

// Animate
.animate--fadeIn {
    opacity: 0;
}

.minimum-full-height {
    min-height: calc(var(--vh) * 100);
}

// IE Fix
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .ie-full-height {
        height: 100vh;
    }
}