* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    text-rendering: optimizeLegibility;
}

body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent; // Remove the gray background color from active links in IE 10.

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: inherit;
    }

    &:focus {
        outline: 0;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre, fieldset, ul, ol, menu {
    margin: 0;
}

button, fieldset, iframe {
    border: 0;
}

fieldset, nav ul, nav ol, button, menu {
    padding: 0;
}

/*
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
    overflow: hidden;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
    overflow: auto;
    resize: vertical;
}

input::-ms-clear {
    display: none;
}
